# local configure
machine_configure.json
settings.json
./.vscode/launch.json

# nohup
*.out
launch.json
# vscode
./.vscode/settings.json
.vscode/*

# __pycache__
# .ipynb_checkpoints

.ipynb_checkpoints/*
*-checkpoint.py
*.pyc
__pycache__/*.pyc

*.ipynb
*.=checkpoint.ipynb

ipynb/TE_gan
ipynb/_*
ipynb/Supplementary*
ipynb/.*

__pycache__/utils.cpython-38.pyc
