# local configure
machine_configure.json
settings.json
./.vscode/launch.json

# nohup
*.out
launch.json
# vscode
./.vscode/settings.json
.vscode/*

# __pycache__
# .ipynb_checkpoints

.ipynb_checkpoints/*
*-checkpoint.py
*.pyc
__pycache__/*.pyc

*.ipynb
*.=checkpoint.ipynb

ipynb/TE_gan
ipynb/_*
ipynb/Supplementary*
ipynb/.*

__pycache__/utils.cpython-38.pyc
*.npy
log/Backbone/Reconstruction_MTL/test_run/VAE_tsne/downsampled_VAE_Z_max.npy
log/Backbone/Reconstruction_MTL/test_run/VAE_tsne/extram_VAE_Z_mean.npy
log/Backbone/Reconstruction_MTL/test_run/VAE_tsne/VAE_Z_max.npy
log/CrossStitch/CrossStitch_Model_MTL/a5b5/design_RL_latents.npy
log/CrossStitch/CrossStitch_Model_MTL/a5b5/a5b5_g2_11_tsne/cs_latent_max_channel.npy
log/CrossStitch/CrossStitch_Model_MTL/a5b5/a5b5_g2_11_tsne/cs_RL_tower.npy
log/CrossStitch/CrossStitch_Model_MTL/a5b5/a5b5_g2_11_tsne/design_before_last_exchange_p105.npy
log/CrossStitch/CrossStitch_Model_MTL/a5b5/a5b5_g2_11_tsne/design_before_last_exchange.npy
log/Backbone/Reconstruction_MTL/test_run/VAE_tsne/design_VAE_Z_max.npy
ipynb/network_interpretation/test_log.log
ipynb/network_interpretation/test.log
ipynb/alan_ds/cluster_4_sample.csv
ipynb/alan_ds/cluster_6_sample.csv
ipynb/alan_ds/.ipynb_checkpoints/cluster_4_sample-checkpoint.csv
.gitignore
ipynb/test_log.log
ipynb/test.csvv
ipynb/test.log
ipynb/alan_ds/test_log.log
ipynb/some_plot/MA_logo/2021_8_4_big_lr_35/Exp_record.txt
.gitignore
ipynb/test_log.log
ipynb/test.log
__pycache__/utils.cpython-38.pyc
ipynb/GMP.log
ipynb/test_log.log
ipynb/test.log

*.model
ipynb/layer_map/cell_line_explain/.ipynb_checkpoints/1_k0_Andrev2015_Sep15-checkpoint.log
ipynb/layer_map/cell_line_explain/.ipynb_checkpoints/1_k0_muscle_Sep15-checkpoint.log
ipynb/layer_map/cell_line_explain/.ipynb_checkpoints/1_k0_pc3_Sep15-checkpoint.log
ipynb/layer_map/NBT_explain/2_k0_human_Sep15.log
ipynb/layer_map/NBT_explain/2_k1_human_Sep15.log
ipynb/layer_map/NBT_explain/2_k2_human_Sep15.log
ipynb/layer_map/NBT_explain/3_k0_human_Sep15.log
ipynb/layer_map/NBT_explain/3_k1_human_Sep15.log
ipynb/layer_map/NBT_explain/3_k2_human_Sep15.log
ipynb/layer_map/NBT_explain/.ipynb_checkpoints/2_k0_unmod1_Sep15_p2-checkpoint.png
ipynb/layer_map/NBT_explain/.ipynb_checkpoints/2_k0_unmod1_Sep15_ph-checkpoint.png
ipynb/layer_map/NBT_explain/.ipynb_checkpoints/2_k0_vleng_Sep15_p2-checkpoint.png
ipynb/layer_map/NBT_explain/.ipynb_checkpoints/2_k0_vleng_Sep15_ph-checkpoint.png
ipynb/layer_map/NBT_explain/.ipynb_checkpoints/2_RF_Sep15_p2-checkpoint.png
ipynb/layer_map/NBT_explain/.ipynb_checkpoints/2_RF_Sep15_ph-checkpoint.png
ipynb/layer_map/NBT_explain/.ipynb_checkpoints/3_k0_unmod1_Sep15_p2-checkpoint.png
ipynb/layer_map/NBT_explain/.ipynb_checkpoints/3_k0_vleng_Sep15_p2-checkpoint.png
ipynb/layer_map/NBT_explain/.ipynb_checkpoints/3_RF_Sep15_p2-checkpoint.png
ipynb/layer_map/NBT_explain/log_out/3_k0_human_Sep15.log
ipynb/layer_map/NBT_explain/log_out/3_k1_human_Sep15.log
ipynb/layer_map/NBT_explain/log_out/3_k2_human_Sep15.log
ipynb/layer_map/NBT_explain/log_out/.ipynb_checkpoints/3_k0_human_Sep15-checkpoint.log
ipynb/layer_map/NBT_explain/log_out/.ipynb_checkpoints/3_k1_human_Sep15-checkpoint.log
ipynb/layer_map/NBT_explain/log_out/.ipynb_checkpoints/3_k2_human_Sep15-checkpoint.log
ipynb/layer_map/NBT_explain/plot/2_k0_human_Sep21_p2.png
ipynb/layer_map/NBT_explain/plot/2_k0_human_Sep21_ph.png
ipynb/layer_map/NBT_explain/plot/2_k0_unmod1_Sep15_p2.png
ipynb/layer_map/NBT_explain/plot/2_k0_unmod1_Sep15_ph.png
ipynb/layer_map/NBT_explain/plot/2_k0_vleng_Sep15_p2.png
ipynb/layer_map/NBT_explain/plot/2_k0_vleng_Sep15_ph.png
ipynb/layer_map/NBT_explain/plot/2_RF_Sep15_p2.png
ipynb/layer_map/NBT_explain/plot/2_RF_Sep15_ph.png
ipynb/layer_map/NBT_explain/plot/3_k0_human_Sep21_p2.png
ipynb/layer_map/NBT_explain/plot/3_k0_human_Sep21_ph.png
ipynb/layer_map/NBT_explain/plot/3_k0_unmod1_Sep15_p2.png
ipynb/layer_map/NBT_explain/plot/3_k0_unmod1_Sep15_ph.png
ipynb/layer_map/NBT_explain/plot/3_k0_vleng_Sep15_p2.png
ipynb/layer_map/NBT_explain/plot/3_k0_vleng_Sep15_ph.png
ipynb/layer_map/NBT_explain/plot/3_k1_human_Sep21.plot
ipynb/layer_map/NBT_explain/plot/3_k2_human_Sep21.plot
ipynb/layer_map/NBT_explain/plot/3_RF_Sep15_p2.png
ipynb/layer_map/NBT_explain/plot/3_RF_Sep15_ph.png
ipynb/layer_map/NBT_explain/plot/4_k1_unmod1_Sep15_p2.png
ipynb/layer_map/NBT_explain/plot/4_k1_unmod1_Sep15_ph.png
ipynb/layer_map/NBT_explain/plot/4_k1_vleng_Sep15_p2.png
ipynb/layer_map/NBT_explain/plot/4_k1_vleng_Sep15_ph.png
ipynb/layer_map/NBT_explain/plot/4_RF_Sep15_p2.png
ipynb/layer_map/NBT_explain/plot/4_RF_Sep15_ph.png
ipynb/layer_map/NBT_explain/plot/.ipynb_checkpoints/2_k0_human_Sep21_p2-checkpoint.png
ipynb/layer_map/NBT_explain/plot/.ipynb_checkpoints/2_k0_human_Sep21_ph-checkpoint.png
ipynb/layer_map/NBT_explain/plot/.ipynb_checkpoints/2_k0_unmod1_Sep15_p2-checkpoint.png
ipynb/layer_map/NBT_explain/plot/.ipynb_checkpoints/2_k0_unmod1_Sep15_ph-checkpoint.png
ipynb/layer_map/NBT_explain/plot/.ipynb_checkpoints/2_k0_vleng_Sep15_p2-checkpoint.png
ipynb/layer_map/NBT_explain/plot/.ipynb_checkpoints/2_RF_Sep15_p2-checkpoint.png
ipynb/layer_map/NBT_explain/plot/.ipynb_checkpoints/3_k0_human_Sep21_p2-checkpoint.png
ipynb/layer_map/NBT_explain/plot/.ipynb_checkpoints/3_k0_human_Sep21_ph-checkpoint.png
ipynb/layer_map/NBT_explain/plot/.ipynb_checkpoints/3_k0_unmod1_Sep15_p2-checkpoint.png
ipynb/layer_map/NBT_explain/plot/.ipynb_checkpoints/3_k0_vleng_Sep15_p2-checkpoint.png
ipynb/layer_map/NBT_explain/plot/.ipynb_checkpoints/3_RF_Sep15_p2-checkpoint.png
ipynb/layer_map/NBT_explain/plot/.ipynb_checkpoints/4_k1_unmod1_Sep15_p2-checkpoint.png
log/Backbone/RL_gru/ds4rl_human_reset/schdule_cv.ini
log/Backbone/RL_gru/ds4rl_unmod1_new/schdule_cv.ini
log/Backbone/RL_gru/ds4rl_vleng_new/schdule_cv.ini
log/Backbone/RL_gru_3DS/Andrev_single_task/log_te_cv.ini
log/Backbone/RL_gru_3DS/muscle_single_task/log_te_cv.ini
log/Backbone/RL_gru_3DS/pc3_single_task/log_te_cv.ini
log/Backbone/RL_gru_3DS/test_Andrev/Andrev_single_task_cv0.log
log/Backbone/RL_gru_3DS/test_Andrev/Andrev_single_task_cv1.log
log/Backbone/RL_gru_3DS/test_Andrev/Andrev_single_task_cv2.log
log/Backbone/RL_gru_3DS/test_Andrev/Andrev_single_task_cv3.log
log/Backbone/RL_gru_3DS/test_Andrev/Andrev_single_task_cv4.log
log/Backbone/RL_gru_3DS/test_Andrev/Andrev_single_task.ini
